<h1>EAT-DA-BURGER</h1>

<h2>Dont let these burgers go to waste!!</h2>
<ul>
    {{#each burgers}}
        {{#unless this.devoured }}
            Burgers : {{ this.burger_name }}
            <br/>
        {{/unless}}
    {{/each}}
</ul>

<h2>YOU ATE ALL THESE BURGERS!!</h2>

<ul>
    {{#each burgers}}
        {{#if this.devoured}}
            Burgers : {{this.burger_name }}
        <br/>
        {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">
    <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="burgerName">
    </div>

    <button type="submit">Add a Burger</button>
</form>