body{
    background-image: url("/img/burger.jpg");
    background-size: cover;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
h1 {
    text-align: center;
}

#lefthead {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 1.2em;
  background-color: yellow;
}

#righthead {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 1.2em;
  background-color: red;
}

button{
  border-radius: 15px;
  background-color: rgb(233, 195, 161);
  
}

input{
  border-radius: 10px;
}

.container h1{
  color: black;
  font-family: 'Indie Flower', cursive;
}

.container h2{
  font-family: 'Balsamiq Sans', cursive;
}

.container p{
  font-size: 25px;
  font-family: 'Amatic SC', cursive;
}